name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: 8.15.1

jobs:
  test:
    name: "Tests"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3.6.0

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.2
        with:
          node-version: 16.x
          cache: pnpm

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3.6.0

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.2
        with:
          node-version: 16.x
          cache: pnpm

      - run: pnpm install --no-lockfile
      - run: pnpm test

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: "test"
    timeout-minutes: 10

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-data-3.28
          - ember-data-4.4
          - ember-data-4.7
          - ember-data-4.8
          - ember-data-4.11
          - ember-data-4.12
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v3.6.0

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v3.8.2
        with:
          node-version: 16.x
          cache: pnpm

      - run: pnpm install
      - run: pnpm ember try:one ${{ matrix.try-scenario }} --skip-cleanup
